*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid blue;
  }

/* Responsive grid for mobile */
/* This code will be used when screen size is 1200px or less */
/* @media screen and (max-width: 1200px) {
  body{
   transform-origin: top;
   transform: scale(.75);
   margin:0 auto;
  }
 
   } */

/* the main container */

/* .back-bg{
  background-color:rgb(118, 27, 237);
  width: 441px;
  height: 177px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 20px;
  }
  
  .top-half { grid-area: 1 / 1 / 2 / 2; }
  .bottom-half { grid-area: 2 / 1 / 3 / 2; }  */


/* svg styling */
.st1{display:inline;}

svg{
  fill:rgb(0, 0, 0);
}

.svg-interaction:hover{
  fill:rgb(118, 27, 237);
  opacity: 0.5;
  animation:pulse; 
  animation-duration: 2s;
}

.front-side{
  width: 441px;
  height: 254px;
  position: relative;
  /* adjust this to space out the cards */
  margin: 50 auto;
  /* overflow: hidden; */
}

.back-side{
  width: 441px;
  height: 254px;
  position: relative;
  /* adjust this to space out the cards */
  margin: 50 auto;
  /* overflow: hidden; */
}

h3{
  color: white;
  padding-top:10px;
  padding-left: 10px;
}
h4{
  padding-top:2px;
}

